/*SCSS variables*/
/* Code By Samir */
$bg-color: #a30000;
$display-color: #94d6ee;
$display-txt: black;
$bg-cal:linear-gradient(90deg, rgba(163,194,231,1) 29%, rgba(134,184,212,1) 74%);
$bt-txt:#60b4da;


/*Font Family*/
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

/*Mixing into a private inner class*/
@mixin inners($color) {
  box-shadow: inset -1px -2px 4px darken($color, 15),
    inset 1px 2px 4px lighten($color, 25);
}
@mixin gradientleft($color) {
  background: linear-gradient(
    162deg,
    lighten($color, 12) 20%,
